<div class="container">
  <form class="d-flex" #form="ngForm" (ngSubmit)="onSearchHandler(form)" >
    <input
      class="form-control me-2"
      type="text"
      name="searchTitle"
      placeholder="Search by title"
      ngModel
      #inputSearch="ngModel"
      required
    />
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</div>

<ng-container *ngIf="booksList.length > 0; else noBooks">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let book of booksList">
        <div class="ibox">
          <div class="ibox-content book-box">
            <div class="image">
              <img class="img" [src]="book.imageUrl" alt="book.title" />
            </div>
            <div class="book-desc">
              <small class="text-muted">{{ book.title }}</small>
              <p class="author-name">{{ book.author }}</p>
  
              <div class="m-t text-righ">
                <button
                  class="btn btn-sm btn-success"
                  [routerLink]="['/books', 'details' ,book._id]"
                >
                  Continue reading
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
  
  <ng-template #noBooks>
    <h1 class="px-4 py-5 mt-5 text-center text-light">Sorry nothing found!</h1>
  </ng-template>
