<div class="form-addbook w-100 m-auto">
    <form class="display">
          <h3 class="h3 mb-3 fw-normal">Add your favorite book</h3>
        <div class="form-group">
          <label for="title" class="col-sm-3 control-label">Title</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              placeholder="title"
            />
          </div>
        </div>
        <!-- form-group // -->
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Author</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              placeholder="Author"
            />
          </div>
        </div>
        <!-- form-group // -->
        <div class="form-group">
          <label for="about" class="col-sm-3 control-label">Description</label>
          <div class="col-sm-9">
            <textarea class="form-control"></textarea>
          </div>
        </div>
        <!-- form-group // -->
        <div class="form-group">
          <label for="qty" class="col-sm-3 control-label">Pages count</label>
          <div class="col-sm-3">
            <input
              type="text"
              class="form-control"
              name="qty"
              id="qty"
              placeholder=""
            />
          </div>
        </div>
        <!-- form-group // -->
        <div class="form-group">
          <label for="date" class="col-sm-3 control-label"
            >Publication date</label
          >
          <div class="col-sm-3">
            <input
              type="date"
              class="form-control"
              name="date"
              id="date"
              placeholder=""
            />
          </div>
        </div>
        <hr />
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </div>
        <!-- form-group // -->
      </form>
    </div>
    <!-- panel-body // -->
  
  <!-- panel// -->
<!-- container// -->
