<div class="form-addbook w-100 m-auto">
  <form class="display" #form="ngForm" (ngSubmit)="onAddBookHandler(form)">
    <h3 class="h3 mb-3 fw-normal">Add your favorite book</h3>
    <div class="form-group">
      <label for="title" class="col-sm-3 control-label">Title</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder=""
          ngModel
          #inputTitle="ngModel"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="author" class="col-sm-3 control-label">Author</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          name="author"
          id="author"
          placeholder=""
          ngModel
          #inputAuthor="ngModel"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="imageUrl" class="col-sm-3 control-label">ImageUrl</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          name="imageUrl"
          id="imageUrl"
          placeholder=""
          ngModel
          #inputImageUrl="ngModel"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="about" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        <textarea
          class="form-control"
          name="description"
          ngModel
          #inputDescription="ngModel"
          required
        ></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="qty" class="col-sm-3 control-label">Pages count</label>
      <div class="col-sm-3">
        <input
          type="text"
          class="form-control"
          name="qty"
          id="qty"
          placeholder=""
          ngModel
          #inputPages="ngModel"
          required
        />
      </div>
    </div>
    <!-- form-group // -->
    <div class="form-group">
      <label for="date" class="col-sm-3 control-label">Publication date</label>
      <div class="col-sm-3">
        <input
          type="date"
          class="form-control"
          name="date"
          id="date"
          placeholder=""
          ngModel
          #inputPublicationDate="ngModel"
          required
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Add book</button>
      </div>
    </div>
  </form>
</div>
